/* media query : css만을 이용해서 사용자의 스크린 사이즈를 알 수 있는 방법 */

body{
  display:flex;
  justify-content: center;
  align-items: center;
  height:100vh;
}
div{
  background-color: teal;
  width:200px;
  height:200px;
}
@media screen and (min-width: 650px) and (max-width: 1000px){
  div{
    background-color:tomato;
  }
}